/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f88f0e;
    color: #fff;
    padding: 1rem;
    width: 100%;
    position: relative;
}

header .a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}
main {
    padding: 2rem;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: #f88f0e;
    position: relative;
    bottom: 0;
    width: 100%;
}

#filter {
    margin-bottom: 20px;
    text-align: center;

}
#places-list, .reviews {
    margin: 20px 0;
}

.login-button {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    
}

.logo {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
.container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.place-card {
    background-color: #fff;
    padding: 50px;
    width: 300px;
    height: inherit;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #b0acac;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.place-image {
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.details-button {
    padding: 8px;
    color: #f4f4f4;
    background-color: #f88f0e;
    border-radius: 10px;
}
.place-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-info {
    background-color: #fff;  
    width: 600px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #b0acac;
    text-align: center;
}

.review-card {
    background-color: #fff;  
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #b0acac;
    text-align: left;
    margin: 20px 0;
    border: 1px solid #ddd;
    
}

.image-place {
    width: 600px;
    border-radius: 10px;
    margin: 10px;
}

.Rating {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 10px;
}

.Rating-text {
    margin: 0 20px 0 0;
}

.stars {
    display: flex;
    align-items: center;
}

.stars i {
    font-size: 1rem;
    color: #111;
    margin-right: 5px;
    
}

#stars {
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    font-size: 1rem;
    color: #111;
    margin: 10px 0;
}

#reviews {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#place {
    border-radius: 10px;
}

#add-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.review-texts {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    width: 600px;
}
#review-text {
    border-radius: 10px;
}

.submit-review {
    width: 600px;
    background-color: #f88f0e;
    color: #f4f4f4;
    border-color: #f4f4f4;
    padding: 8px;
    border-radius: 10px;
}

.add-review {
    background-color: #f88f0e;
    color: #f4f4f4;
    border-color: #f4f4f4;
    padding: 8px;
    border-radius: 10px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#email {
    padding: 8px;
    border-radius: 10px;
}

#password {
    padding: 8px;
    border-radius: 10px;
}

#review-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.review {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}